.BeneficiaryList_container_1691720646582{flex-grow:1;max-width:1280px;margin-left:auto;margin-right:auto;width:calc(100% - 24px)}.BeneficiaryList_loader_1691720646582{display:flex;align-items:center;justify-content:center}
